{% load static %}
<div class="full_sc">
	    	    <div class="w1200 header_conter">
	    		    <div class="h_c_logo">
	    			    <a href="index.html">
	    				    <img src="{% static 'image/logo.jpg'%}"/>
	    			    </a>
	    		    </div>
	    		    <div class="h_c_bz">
	    			    <img src="{% static 'image/top_center.jpg'%}" style="width: 467px"/>
	    		    </div>
	    		    <div class="h_c_search">
	    			    <div class="search_input">
	    			    	<form action="" method="post">
	    			    		<input type="text" style="color: rgb(102, 102, 102);" name="keyword" class="text_search" placeholder="limu 胶原蛋白" value="" />
	    			    		<input type="submit" class="btn_search" value="搜索"/>
	    			    	</form>
	    			    </div>
	    			    <div class="search_key">
	    			    	<ul>
	    			    		<li>
	    			    			<a href="">太阳镜</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">蕉下</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">果蔬脆片</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">德亚酸牛奶</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">蚕丝面膜</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">山地车</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">BB霜</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">乳胶枕</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">蝙蝠侠系列石英表</a>
	    			    		</li>
	    			    		<li>
	    			    			<a href="">拍立得</a>
	    			    		</li>
	    			    	</ul>
	    			    </div>
	    		    </div>
	    		    <div class="h_c_right">
	    		    	<a href="" class="h_c_r_car">
	    		    		<b class="b_car1"></b>
	    		    		<span><i class="ci-count">0</i>我的购物车</span>
	    		    		<b class="b_car2"></b>
	    		    	</a>
	    		    </div>
	    	    </div>
	        </div>