{% load static %}
<!--顶部导航-->
<div class="header_top">
    <div class="w1200">
					<div class="h_t_l">
						<div class="login_l">
						    <span>欢迎来到快乐购!</span>
						    <a class="a_login" href="{% url 'users:login' %}">[登录]</a>
						    <span class="line"></span>
						    <a class="" href="{% url 'users:register' %}">[注册]</a>
						</div>
					</div>
					<div class="h_t_r">
						<ul>
							<li>
								<a href="">订单查询</a>
								<span class="line"></span>
							</li>
							<li>
								<a href="{% url 'users:userindex' %}">我的快乐购</a>
								<span class="line"></span>
							</li>
							<li>
								<i class="tel_icon"></i>
								<a href="">400-705-1111</a>
								<span class="line"></span>
							</li>
							<li>
								<a href="">下载快乐购app</a>
								<div class="down_load">
                                    <div class="down_border">
                                        <b class="icon_top"></b>
                                        <img src="{% static 'image/down_load_20160411.png'%}">
                                        <p>快乐生活 快乐购</p>
                                    </div>
                                </div>
								<span class="line"></span>
							</li>
							<li class="cus_c_box">
								<a href="">客服中心</a>
								<div class="cus_center">
                                    <a href="">帮助中心</a>
                                    <a href="">会员反馈</a>
                                </div>
							</li>
						</ul>
					</div>
				</div>
</div>