{% load static %}
	<!--左侧end-->
			<div class="ur_left">
				<div class="ur_slide">
					<a href="{% url 'users:userindex' %}"><h2 class="slide_h2"><b></b>我的快乐购</h2></a>
					<ul class="slide_list">
                        <li class="no">
							<a href="{% url 'users:change_message' %}">个人资料</a>
						</li>
						<li class="no">
							<a href="{% url 'users:usercenter' %}">我的订单</a>
						</li>
						<li>
							<a href="{% url 'users:userrefund' %}">申请退款</a>
						</li>
						<li>
							<a href="{% url 'users:collect' %}">我的收藏</a>
						</li>
						<li>
							<a href="">我的优惠卷</a>
						</li>
						<li>
							<a href="">我的积分</a>
						</li>
						<li>
							<a href="">账号安全</a>
						</li>
						<li>
							<a href="{% url 'users:add_path' %}">地址管理</a>
						</li>
					</ul>
				</div>
			</div>
			<!--左侧end-->