{% extends 'base/user_base/user_base.html' %}
{% load static %}
{% block title %}
		<title>全球购</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/goods.css' %}"/>
{% endblock %}

{% block content %}

	    <div class="top_img">
	    	<div class="top_o_imgs">
	    		<img src="{% static 'image/list_top_1.jpg' %}"/>
	    	</div>
	    </div>
	    <div class="w1200">
	    	<ul class="con_list_pic">
	    		<li>
	    			<a href="" class="a_list_con">
	    				<p class="p_img"><img src="{% static 'image/list_1.jpg' %}"/></p>
	    				<p class="p_title">日本熊野油脂马油洗发水600ml+护发素600ml</p>
	    				<div class="p_p">
	    					<div class="p_p_left">
	    						<span class="price2"><del>￥188.00</del>&nbsp;</span>
	    						<span class="price1">快乐价<span class="money_icon">￥</span><span>99.00</span></span>
	    					</div>
	    					<div class="p_p_right">
	    						<span class="mryh_add_car">5.3折</span>
	    					</div>
	    				</div>
	    			</a>
	    		</li>
	    		<li>
	    			<a href="" class="a_list_con">
	    				<p class="p_img"><img src="{% static 'image/list_2.jpg' %}"/></p>
	    				<p class="p_title">日本熊野油脂马油洗发水600ml+护发素600ml</p>
	    				<div class="p_p">
	    					<div class="p_p_left">
	    						<span class="price2"><del>￥188.00</del>&nbsp;</span>
	    						<span class="price1">快乐价<span class="money_icon">￥</span><span>99.00</span></span>
	    					</div>
	    					<div class="p_p_right">
	    						<span class="mryh_add_car">5.3折</span>
	    					</div>
	    				</div>
	    			</a>
	    		</li>
	    		<li>
	    			<a href="" class="a_list_con">
	    				<p class="p_img"><img src="{% static 'image/list_3.jpg' %}"/></p>
	    				<p class="p_title">日本熊野油脂马油洗发水600ml+护发素600ml</p>
	    				<div class="p_p">
	    					<div class="p_p_left">
	    						<span class="price2"><del>￥188.00</del>&nbsp;</span>
	    						<span class="price1">快乐价<span class="money_icon">￥</span><span>99.00</span></span>
	    					</div>
	    					<div class="p_p_right">
	    						<span class="mryh_add_car">5.3折</span>
	    					</div>
	    				</div>
	    			</a>
	    		</li>
	    		<li class="no-margin">
	    			<a href="" class="a_list_con">
	    				<p class="p_img"><img src="{% static 'image/list_4.jpg' %}"/></p>
	    				<p class="p_title">日本熊野油脂马油洗发水600ml+护发素600ml</p>
	    				<div class="p_p">
	    					<div class="p_p_left">
	    						<span class="price2"><del>￥188.00</del>&nbsp;</span>
	    						<span class="price1">快乐价<span class="money_icon">￥</span><span>99.00</span></span>
	    					</div>
	    					<div class="p_p_right">
	    						<span class="mryh_add_car">5.3折</span>
	    					</div>
	    				</div>
	    			</a>
	    		</li>
	        </ul>
	    </div>

 {% endblock %}

{% block left %}
	    <!--左侧导航-->
	   {% include 'base/user_base/fixed_dh.html' %}
{% endblock %}