{% extends 'base/user_base/user_base.html' %}
{% load static %}
{% block title %}
		<title>商品详情</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/iemt.css' %}" />
		<script src="{% static '' %}js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		    $(function(){
		    	$(".color_ul li").click(function(){
		    		$(this).addClass("on").siblings().removeClass("on");
		    	});
		    	$(".wrap_input .btn-add").click(function(){
		    		var y = $("#buy_num").val();
		    		x = parseInt(y)+1;
		    		$("#buy_num").val(x);
		    	});
		    	$(".wrap_input .btn-reduce").click(function(){
		    		var y = $("#buy_num").val();
		    		x = parseInt(y)-1;
		    		if(x>0){
		    		   $("#buy_num").val(x); 
		    		}
		    	});
		    });
		</script>
{% endblock %}

{% block content %}
<div class="w1200">
	<div class="con_content">
        <!--提交区域-->
        <div class="con_top">
            <div class="con_top_l">
                <div class="tab-w">
                    <div class="divw">
                        <a href="">
                            <span class="zoomPad">
                                <img src="{% static goods.goods_pic.url %}"/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="detail_share">
                    <div class="detail_sc">
                        <i class="i_addsc"></i><a href="" style="color: #94193f">收藏商品</a>
                    </div>
                </div>
            </div>
            <div class="con_top_r">
                <div class="detail_top">
                    <h1 class="detail_tit">{{ goods.goods_name }}</h1>
                    <h2 class="detail_tit_md">{{ goods.goods_info }}</h2>
                    <div class="price_wrap">
                        <div class="detail_price">
                            <span class="price_now">
                                <b class="em_sign">￥</b>
                                {{ goods.xprice }}
                            </span>
                        </div>
                        <div class="d_bh">原价：￥<s>{{ goods.oprice }}</s></div>
                    </div>
                    <div class="detail_freight">
                        <span class="pop_tit ">地址：</span>
                        <span id="freight" class="pop_black">{{ goods.goods_address }}</span>
                    </div>
                    <div class="detail_color">
                        <div class="model_wrap color_wrap">
                            <span class="pop_tit">型号：</span>
                            <ul class="color_ul">
                                {% for detail in detail_list%}
                                <li class="no_kc">
                                    <a href="javascript:void(0)" data-param="{valid:51008, key:1}">{{ detail.color }}/{{ detail.size }}</a>
                                    <b></b>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="model_wrap count_wrap">
                            <span class="pop_tit">数量：</span>
                            <div class="wrap_input">
                                <a href="javascript://" data-param="0" class="btn-add">+</a>
                                <a href="javascript://" data-param="0" class="btn-reduce">-</a>
                                <input value="1" id="buy_num" class="text" onkeyup="this.value=this.value.replace(/\D/g, '');">
                            </div>
                        </div>
                        <div class="model_wrap">
                            <div class="model_submilt">
                                <div class="btn_goods_remind">加入购物车</div>
                            </div>
                            <div class="detail_ewm">
                                <p class="ewm_bg_img"></p>
                                <p>
                                    <span class="fs_14">微信 支付宝</span>
                                    <span class="fs_14">直播商品订购减 20 元</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--提交区域end-->
        <!--展示区域-->
        <div class="con_tab">
            <div class="con_nav">
                <div class="con_nav_c">
                    <div class="w1200">
                        <ul>
                            <li class="on "><a href="javascript:;">商品详情</a></li>
                            <li><a href="javascript:;">商品参数</a></li>
                            <li><a href="javascript:;">用户评价</a></li>
                            <li><a href="javascript:;">为您推荐</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="display">
            <div class="goods_box">
                <div class="detail_lists">
                    <div class="d_h2">
                        <h2>商品详情</h2>
                    </div>
                    <div class="detail_con">
                        <div style="margin: auto;">
                            <p><img src="{% static '' %}image/d_1.jpg" /></p>
                        </div>
                        <div style="margin: auto;">
                            <img src="{% static '' %}image/d_2.jpg" />
                            <img src="{% static '' %}image/d_3.jpg" />
                            <img src="{% static '' %}image/d_4.jpg" />
                            <img src="{% static '' %}image/d_5.jpg" />
                            <img src="{% static '' %}image/d_6.jpg" />
                            <img src="{% static '' %}image/d_7.jpg" />
                        </div>
                        <div style="margin: auto;">
                            <p><img src="{% static '' %}image/d_8.jpg" /></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="premeter_box">
                <div class="detail_lists">
                    <div class="d_h2">
                        <h2>商品参数</h2>
                    </div>
                    <div class="detail_con_l">
                        <ul>
                            <li>
                                <div class="d_l_con1_l">主商品配套：</div>
                                <div class="d_l_con1_r">乐途女士后跟杯款经典跑鞋</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">材质是否防水：</div>
                                <div class="d_l_con1_r">否</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">鞋垫是否固定：</div>
                                <div class="d_l_con1_r">是</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">是否具备气垫：</div>
                                <div class="d_l_con1_r">否</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">型号（品牌运动鞋）：</div>
                                <div class="d_l_con1_r">ERCL002-1 ERCL002-2</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">是否为标准尺码：</div>
                                <div class="d_l_con1_r">是</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">颜色：</div>
                                <div class="d_l_con1_r">ERCL002-1：康乃馨红/海棠红/白 ERCL002-2：馨香紫/风信紫/白</div>
                            </li>
                            <li>
                                <div class="d_l_con1_l">配套赠品（无编号）：</div>
                                <div class="d_l_con1_r">乐途斜挎包</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="appraise_box">
                <div class="detail_lists ">
                    <div class="d_h2 ">
                        <h2>用户评价</h2>
                    </div>
                <div class="detail_l_con3 ">
                    <div class="appraise_h2 ">
                        <div class="appraise_t1 ">评价心得</div>
                        <div class="appraise_t2 ">用户满意度</div>
                        <div class="appraise_t3 ">购买价格</div>
                        <div class="appraise_t4 ">用户信息</div>
                    </div>
                    <ul>
                        <li class="appraise_li ">
                            <div class="a_li_t1 ">
                                <div class="appr_cons ">很轻，很舒适^_^</div>
                                <div class="appr_time ">2016-05-19 12:27</div>
                            </div>
                            <div class="a_li_t2 ">
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi "></i>
                            </div>
                            <div class="a_li_t3 ">
                                <p class="p_p ">￥<span>298.00</span></p>
                            </div>
                            <div class="a_li_t4 ">
                                <img src="{% static '' %}image/user_center_img4.jpg "><br><span>MB***</span>
                            </div>
                        </li>
                        <li class="appraise_li ">
                            <div class="a_li_t1 ">
                                <div class="appr_cons ">很轻，很舒适^_^</div>
                                <!--反馈图片-->
                                <div class="appraise_img ">
                                    <ul class="appr_img_list ">
                                        <li><img src="{% static '' %}image/pinlun_1.jpg "/></li>
                                    </ul>
                                </div>
                                <!--反馈图片-->
                                <div class="appr_time ">2016-05-19 12:27</div>
                                <!--卖家回复-->
                                <div class="call_me_back ">
                                    客服回复：<span>您好！感谢您对我们的支持和开发商品提出的宝贵建议，您的建议就是我们的动力，我们会继续努力的，请您继续关注我们哦！</span>
                                </div>
                                <!--卖家回复-->
                            </div>
                            <div class="a_li_t2 ">
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi "></i>
                            </div>
                            <div class="a_li_t3 ">
                                <p class="p_p ">￥<span>298.00</span></p>
                            </div>
                            <div class="a_li_t4 ">
                                <img src="{% static '' %}image/user_center_img4.jpg "><br><span>MB***</span>
                            </div>
                        </li>
                        <li class="appraise_li ">
                            <div class="a_li_t1">
                                <div class="appr_cons ">很轻，很舒适^_^</div>
                                <div class="appr_time ">2016-05-19 12:27</div>
                            </div>
                            <div class="a_li_t2 ">
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi i_satisfy "></i>
                                <i class="i_icon_csi "></i>
                            </div>
                            <div class="a_li_t3 ">
                                <p class="p_p ">￥<span>298.00</span></p>
                            </div>
                            <div class="a_li_t4 ">
                                <img src="{% static '' %}image/user_center_img4.jpg "><br><span>MB***</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="recommend_box">
                <div class="detail_lists">
                    <div class="d_h2">
                        <h2>为您推荐</h2>
                    </div>
                    <div class="detail_l_con4">
                        <div class="d_l_con4_list">
                            <ul>
                                <li>
                                    <a href="" class="a_con4_list">
                                        <p class="p_img"><img src="{% static '' %}image/tui_1.jpg"/></p>
                                        <p class="p_title">乐途男士经典跑鞋1+1时尚组（后跟杯） 蓝灰色 245(39)</p>
                                        <p class="p_price">
                                            <span class="price1">￥<span>298.00</span></span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="a_con4_list">
                                        <p class="p_img"><img src="{% static '' %}image/tui_2.jpg"/></p>
                                        <p class="p_title">乐途男士经典跑鞋1+1时尚组（后跟杯） 蓝灰色 245(39)</p>
                                        <p class="p_price">
                                            <span class="price1">￥<span>298.00</span></span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="a_con4_list">
                                        <p class="p_img"><img src="{% static '' %}image/tui_3.jpg"/></p>
                                        <p class="p_title">乐途男士经典跑鞋1+1时尚组（后跟杯） 蓝灰色 245(39)</p>
                                        <p class="p_price">
                                            <span class="price1">￥<span>298.00</span></span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="a_con4_list">
                                        <p class="p_img"><img src="{% static '' %}image/tui_4.jpg"/></p>
                                        <p class="p_title">乐途男士经典跑鞋1+1时尚组（后跟杯） 蓝灰色 245(39)</p>
                                        <p class="p_price">
                                            <span class="price1">￥<span>298.00</span></span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="a_con4_list">
                                        <p class="p_img"><img src="{% static '' %}image/tui_5.jpg"/></p>
                                        <p class="p_title">乐途男士经典跑鞋1+1时尚组（后跟杯） 蓝灰色 245(39)</p>
                                        <p class="p_price">
                                            <span class="price1">￥<span>298.00</span></span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="hd">
                            <a href="javascript:;" class="prev"><</a>
                            <a href="javascript:;" class="next">></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block left %}
   {% include 'base/user_base/left_fixed.html' %}
{% endblock %}