{% extends 'base/user_base/user_base.html' %}
{% load static %}
{% block title %}
		<title>分类页面</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}"/>
{% endblock %}

{% block content %}
	    <div class="w1200">
	    	<!--分类导航-->
	    	<!--分类导航-->
	    	<div class="box_list">
	    		<div class="sl_list">
	    			<ul>
                       {% for goods in goods_list %}
	    				<li>
	    					<a href="{% url 'goods:goods_detail' goods.id %}">
	    						<span class="list_img"><img src="{% static goods.goods_pic.url %}"/></span>
	    						<span class="sl_list_con">
	    							<span class="sl_price">
	    								<b class="sl_price1"><span>¥{{ goods.xprice }} </span></b>
	    								<b class="sl_price2"><s>¥{{ goods.oprice }} </s></b>
	    							</span>
	    						</span>
	    						<span class="sl_title">{{ goods.goods_name }}</span>
	    					</a>
	    				</li>
                        {% endfor %}
	    			</ul>
	    		</div>
	    	</div>
	        <!--分页-->
	        <div class="page_list">
	          	<div class="page_r">
	           		<ul>
	           			<li class="pre a_btn un">
	           				<span><b><</b>上一页</span>
	           			</li>
	           			<li class="a_p_num">
	           				<span>1</span>
	           			</li>
	           			<li>
	           				<a href=""><span>2</span></a>
	           			</li>
	           			<li>
	           				<a href=""><span>3</span></a>
	           			</li>
	           			<li>
	            			<span class="more">...</span>
	           			</li>
	           			<li class="next a_btn">
	           				<a href=""><span>下一页<b>></b></span></a>
	           			</li>
	           		</ul>
	           	</div>
	        </div>
	        <!--分页end-->
	    </div>
{% endblock %}


{% block left %}
	   {% include 'base/user_base/left_fixed.html' %}
{% endblock %}