{% extends 'base/user_base/user_base.html' %}
{% load static %}
{% block title %}
		<title>精品推荐</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/refined.css' %}"/>
{% endblock %}

{% block content %}


		<!--菜单-->
		<div class="nav_ter">
		    <div class="top_img">
		    	<div class="top_box">
		    		<img src="{% static 'image/list_top_1.jpg' %}"/>
		    	</div>
		</div>
		<div class="w1200">
			<!--精品推荐-->
			<div class="j_l_nav">
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
				<div class="hsai">
					<h2>精品推荐<b>></b></h2>
					<div class="nav_type_list" data="1">
                        <ul>
                            <li><a href="list.html" target="_blank">面部护肤</a></li>
                            <li><a href="list.html" target="_blank">洗发护发</a></li>
                            <li><a href="list.html" target="_blank">身体护理</a></li>
                            <li><a href="list.html" target="_blank">口腔护理</a></li>
                            <li><a href="list.html" target="_blank">女性个护</a></li>
                            <li><a href="list.html" target="_blank">香水彩妆</a></li>
                        </ul>
                    </div>
				</div>
			</div>
			<!--精品推荐-->
			<!--精品推荐-->
			<div class="j_nav">
				<h2><i class="i_today_zb"></i>精品推荐</h2>
				<ul>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_1.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_2.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_3.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_4.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_5.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_6.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_7.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_8.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_9.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_10.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_11.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_12.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_9.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_10.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_11.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_12.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_9.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_10.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_11.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_12.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_9.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_10.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_11.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_12.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_9.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_10.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="{% static '' %}image/t_11.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
					<li class="no-margin">
						<a href="">
							<img src="{% static '' %}image/t_12.jpg" />
							<span class="span_con">
								<p class="p_title">酷开32英寸智能LED液晶电视 K32</p>
								<p class="p_price">
									<span class="p_price1">￥<span>1099.00</span></span>
									<span class="p_price2">￥1699.00</span>
									<span class="p_zk">6.5折</span>
								</p>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<!--精品推荐end-->
		</div>
		</div>
{% endblock %}

{% block left %}
    {% include 'base/user_base/left_fixed.html' %}
{% endblock %}
