{% extends 'base/user_base/base.html' %}
{% load static %}
{% block title %}
		<title>提交订单</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/go.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% endblock %}

{% block body %}
<div class="header">
	{% include 'base/user_base/header_top.html' %}
			<!--图片-->
	<div class="full_sc order_bottom">
		<div class="w1200 header_conter ">
			<div class="h_c_logo">
				<a href="/"><img src="{% static 'image/logo.jpg' %}" /></a>
			</div>
			<div class="h_c_right">
				<div class="order_Status os_oredr"></div>
			</div>
		</div>
	</div>
			<!--end-->
</div>
<div class="public_b">
	<form action="{% url 'users:truesubmit' %}" method="post">
    {% csrf_token %}
		<div class="w1200">
			<div class="h2">确认订单信息</div>
				<div class="o_o_content">
					<h2 class="part_h2" >
                        1 地址选择<a class="a_return_car" href="{% url 'users:car'%}"> &lt; 返回购物车</a>
                    </h2>
                    <div class="new_addr">
							<div class="ncc-form-default">
                       <table  class="table table-hover">
                        <tr>
                            <th></th>
                            <th>收货人</th>
                            <th>电话</th>
                            <th>地址</th>
                        </tr>
                    {% for address in  address_list %}
                        <tr>
                        <td><input type="radio" name="address" value="{{ address.id }}" checked id="address_{{ address.id }}">
                        </td>
                       <td> <label for="address_{{ address.id }}">{{ address.name}}</label></td>
                        <td><label for="address_{{ address.id }}">{{ address.phone}}</label></td>
                        <td><label for="address_{{ address.id }}">{{ address.address}}</label></td>
                        </tr>
                        {% empty %}
                        <th colspan="5" style="text-align: center">亲，您尚未添加地址。</th>
                    {% endfor %}
                    </table>
							</div>
						</div>
                    <div class="o_o_part o_o_part3">
							<h2 class="part_h2">2&nbsp;商品清单</h2>
                         <table  class="table table-hover">
                        <tr>
                            <th>名称</th>
                            <th>样式</th>
                            <th>价钱</th>
                            <th>数量</th>
                            <th>发货地址</th>
                            <th>小计</th>
                        </tr>
                    {% for goods in  goods_list %}
                        <tr>
                        <td><img src="{% static goods.goods.name.goods_pic.url%}" alt="{{ goods.goods.name.goods_name}}" style="width: 66px;height: 66px">{{ goods.goods.name.goods_name}}</td>
                        <td>{{ goods.goods.size}}/{{ goods.goods.color}}</td>
                        <td>{{ goods.goods.goods_xprice}}</td>
                        <td>{{ goods.count}}</td>
                        <td>{{ goods.goods.name.goods_address}}</td>
                        <td><span id="xj_{{ goods.id }}">{% widthratio goods.goods.goods_xprice 1 goods.count%}</span></td>
                        </tr>
                        {% empty %}
                        <th colspan="5" style="text-align: center">亲，您尚未选择商品。<a href="/">去逛逛</a></th>
                    {% endfor %}
                    </table>
							<div class="oder_shop">
								<div class="yhxx_box">
									<ul class="yhxx_list">
										<li>
											<div class="yhxx_tit">商品总额<span class="yhxx_money">￥<span class="totalprice"></span> </span>
											</div>
										</li>
									</ul>
								</div>
								<div class="btnsure_bg">
									<div class="sureorder">
										<div class="jine">应付总额：<span class="fwxh_30">￥</span><span class="span_m s_order_money totalprice"></span></div>
										<button><a class="un_btn_sure" id="btn_sure">提交订单</a></button>
									</div>
								</div>
							</div>
						</div>
                </div>
        </div>
	</form>

</div>
{% include 'base/user_base/footer.html' %}
    <script>
        $(function () {
             var total=0;
        $('span[id*=xj_]').each(function (obj,ev) {
            var xj=$(this).html();
            total+=Number(xj)
        });
        $('.totalprice').html(total)
        })
    </script>
{% endblock %}