{% extends 'base/user_base/user_base.html' %}
{% load static %}
{% block title %}
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}
{% block body %}
		<div id="append"></div>
		{% include 'base/user_base/login_header.html' %}
		<div class="w980 ClearFix">
			<div class="logo_box ClearFix">
				<div class="login_b_l ClearFix">
					<a href="" title="出发">
						<img src="{% static 'image/register.jpg' %}" alt="出发"/>
					</a>
				</div>
				<div class="login_b_r ClearFix">
					<div class="loginul ClearFix">
					    <div class="login_h2 ClearFix">
						    <h2>用户注册</h2>
						    <div class="lognrtop">
								已有账号<a href="{% url 'users:login' %}">在此登录</a>
							</div>
						</div>
					  <div class="co"> 
                        <div class="form">
                        <form id="register_form" method="post" action="{% url 'users:register' %}">
                            {% csrf_token %}
                            <div class="item">
                                <input placeholder="请输入用户名" class="itxt" autocomplete="off" tabindex="1" maxlength="11" name="username" id="mobile" type="text" required>
                            </div>

                            <div class="item item2">
                                <input placeholder="请输入密码" tabindex="4" maxlength="20" class="itxt" name="password" id="password" type="password" required>
                            </div>
                            <div class="item item2">
                                <input placeholder="请再次输入密码" class="itxt" tabindex="5" maxlength="20" name="password_confirm" id="password_confirm" type="password" required>

                            </div>
                            <div class="item items">
                                <input placeholder="验证码" maxlength="6" tabindex="3" class="itxt itxt_yzm onfocustxt" name="mobile_code" id="mobile_code" type="text" autocomplete="off">
                                <a href="" class="ncm-btn ml5" tabindex="2">
                    		        <div id="hide_times">获取短信验证码</div>
                            	</a>
                            </div>
                            <div class="item item5">
                                <div class="login-btn">
                                   <button type="submit"><a id="loginsubmit" tabindex="7" class="btn-img btn-entry">立即注册</a></button>
                                </div>
                            </div>
                        </form>
                        </div>
					   </div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
