{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
 <table  class="table table-hover table-bordered">
    <tr>
        <th>名称</th>
        <th>样式</th>
        <th>价钱</th>
        <th>数量</th>
        <th>介绍</th>
    </tr>
    <tr>
        <td>名称</td>
        <td>样式</td>
        <td>价钱</td>
        <td>数量</td>
        <td>介绍</td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: center">暂无记录</td>
    </tr>
</table>
</body>
</html>