{% extends 'base/user_base/base.html' %}
{% load static %}
{% block title %}
		<title>提交订单成功</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/go.css' %}" />
{% endblock %}
{% block body %}
		<div class="header">
		{% include 'base/user_base/header_top.html' %}
			<!--图片-->
			<div class="full_sc order_bottom">
				<div class="w1200 header_conter ">
					<div class="h_c_logo">
						<a href="/">
							<img src="{% static 'image/logo.jpg' %}" />
						</a>
					</div>
					<div class="h_c_right">
						<div class="order_Status os_oredr"></div>
					</div>
				</div>
			</div>
			<!--end-->
		</div>
		<div class="public_b">
			<div class="w1200">
				<h2 class="payfor_h2"><i></i>在线支付</h2>
				<div class="payfo_tips"><i></i>订单已提交成功，现在就去付款吧</div>
				<div class="oder_me">
					<div class="o_n_t1">
						<div class="o_n_l">您的订单号<span>{{ orders }}</span></div>
                        <div class="o_n_m">应付金额：<span>￥{{ money }}</span></div>
                        <div class="o_n_r">支付方式：在线支付</div>
					</div>
				    <div class="choose_pay">
				    	<div class="choose_pay_box">
				    		<div class="choose_agin">
                                <span class="s_radio"><label for="type_01" class="r_txt s_fs_18">支付宝/微信</label></span>
                                <div class="agin_radio">
                                    <span class="s_a_radio l_t_pay">
                                        <input id="type_02" name="s_radio" value="alipay" type="radio">
                                        <label for="type_02" class="r_txt"><i class="i_zfb"></i>支付宝支付</label>
                                    </span>
                                </div>
                            </div>
				    	</div>
				    	<form action="{% url 'users:pay' %}" method="POST" id="buy_form">
                            {% csrf_token %}
                            <input name="orders" value="{{ orders }}" type="hidden">
                            <input id="payment_code" name="payment_code" value="" type="hidden">

				    	<div class="btnsure_bg">
				    	    <div class="sureorder">
				    	    	<div class="jine">应付总额：<span class="fwxh_30">￥</span><span class="span_m">{{ money }}</span></div>
                                <button type="submit"><a class="btn_sure" id="next_button">去付款&gt;</a></button>
				    	    </div>
				    	</div>
                        </form>
				    </div>
				</div>
			</div>
		</div>
		<!--底部公用-->
	    {% include 'base/user_base/footer.html' %}
	    <!--底部end-->
{% endblock %}
