{% extends 'base/user_base/user_base.html' %}
{% load static %}
{% block title %}
		<title>用户中心</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/suercenter.css' %}" />
{% endblock %}

{% block content %}
<div class="w1000 ClearFix margin_top20">
		{% include 'base/user_base/user_left.html' %}
			<div class="ur_right">
				<!--uer_top-->
				<div class="ur_location">
					<a href="">我的快乐购</a>
					<span>&gt;</span>
					<a class="a_cur">我的订单</a>
				</div>
				<!--uer_top-->
				<div class="ur_r_list">
					<div class="ur_list_tab">
						<ul class="ur_tab_ul">
							<li class="on ">
								<a href="">全部订单</a>
							</li>
							<li>
								<a href="">待付款</a>
							</li>
							<li>
								<a href="">待发货</a>
							</li>
							<li>
								<a href="">待评价</a>
							</li>
						</ul>
						<div class="more_rk">
							<a href="" class="more_order">查看历史订单</a>
							<a href="" class="more_qqg_order">查看全球购订单&gt;&gt;</a>
						</div>
					</div>
					<table class="order_table" style="font-size: 15px">
						<thead class="thead">
							<tr>
								<td class="padding_40">
									<div class="select_div">
										<div class="select_h2">
											<span>近三月的订单</span>
											<b></b>
										</div>
										<div class="select_list">
											<ul>
												<li data-name="近三月的订单" class="cur">
													<a href=""><b></b>近三月的订单</a>
												</li>
												<li data-name="近半年的订单" class="">
													<a href=""><b></b>半年的订单</a>
												</li>
												<li data-name="最近一年的订单" class="">
													<a href=""><b></b>最近一年的订单</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
								<td>订单金额</td>
								<td>商品属性</td>
								<td>付款状态</td>
								<td>发货状态</td>
								<td>收货状态</td>
								<td>评价状态</td>
							</tr>
						</thead>
						<tbody>
                        {% for order in pagedata %}
							<tr class="tr_top">
								<td colspan="7">
									<span class="number">订单号：<a target="_blank" href="">{{ order.order }}</a></span>
									<span class="dealtime" title="下单时间">下单时间：{{ order.add_time }}</span>
								</td>
							</tr>
                            {% for info in kwargs %}
                                {% if info.order_id == order.id%}
							    <tr class="tr_bd">
								<td class="goods-number" style="width: 200px">
									<div class="p-img">
										<a href="{% url 'goods:goods_detail' info.goods.name.id%}" target="_blank">
											<img class="" src="{% static info.goods.name.goods_pic.url %}" title="" height="60" width="60">
										</a>
									</div>
									<div class="p-msg">
										<div class="p-name">
											<a href="{% url 'goods:goods_detail' info.goods.name.id%}" class="a-link" target="_blank" title="">{{ info.goods}}</a>
										</div>
									</div>
								</td>
								<td>
									<div class="goods-number"><span>￥{% widthratio info.price 1 info.number%}</span></div>
								</td>
								<td>
									<div class="goods-number">{{ info.goods.size }}/{{ info.goods.color }}</div>
								</td>
                                <td rowspan="1">
                                    {% if order.pay_status == 0 %}
									<div class="amount"><span>尚未付款</span></div>
                                        {% else%}
									<div class="amount"><span>已付款</span></div>
                                     {% endif %}
								</td>
								<td rowspan="1">
                                    {% if order.send_status == 0 %}
									<div class="amount"><span>尚未发货</span></div>
                                        {% else%}
									<div class="amount"><span>已发货</span></div>
                                     {% endif %}
								</td>
							    <td rowspan="1">
                                {% if order.receive_status == 0%}
									<div class="amount"><span>尚未收货</span>
                                        {% if order.send_status == 1 %}<a href="{% url 'users:receive_goods' order.id%}">点击收货</a>{% endif %}
                                    </div>
                                     {% else%}
									<div class="amount"><span>已收货</span></div>
                                {% endif %}
								</td>
                                <td rowspan="1">
									   {% if order.comment_status == 0%}
									<div class="amount"><span>尚未评价</span>
                                        {% if order.receive_status == 1 %}<a href="">点击评价</a>{% endif %}
                                    </div>
                                     {% else%}
									<div class="amount"><span>评价</span></div>
                                {% endif %}
								</td>
							</tr>
                                {% endif %}
                                {% endfor %}

			            {% empty %}
                           <tr class="tr_bd">
								<th colspan="5" style="">
									暂无订单。
								</th>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
				<!--page-->
				<!--分页-->
				<div class="page_list margin_top20">
					<div class="page_r">
						<ul>
                            {% if pagedata.has_previous %}
							<li class="pre a_btn un">
                                <a href="?p={{ p|add:-1}}"><span><b><</b>上一页</span></a>
							</li>
                             {% endif %}
                            {% for  i in page_list %}
                                {% if p == i %}
                                    <li class="a_p_num">
                                        <span>{{ p }}</span>
                                    </li>
                                    {% else %}
                                    <li class="a_p_num">
                                   <a href="?p={{ i }}"><span>{{ i }}</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% if pagedata.has_next %}
                            <li class="next a_btn">
								<a href="?p={{ p|add:1}}"><span>下一页<b>></b></span></a>
							</li>
                        {% endif %}

						</ul>
					</div>
				</div>
				<!--分页end-->
				<!--pageend-->
			</div>
		</div>
{% endblock %}

